/*I tired to keep my styling to a minimum and didn't pull in any frameworks because I
thought at a certain point, going beyond the requirements becomes a distraction*/
body {
  background-color: blanchedalmond;
  text-align: center;
}


/* SEARCHBAR */
.searchbar-div {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 40%;
}


/* RESULTS */
.search-results-div {
  margin-top: 5%;
}

.story-title {
margin-bottom: .5rem;
}

.story-comment {
  font-size: .8rem;
  margin: 0 3rem .1rem;
}

.story-author {
  display: inline-block;
  font-size: .7rem;
  margin-top: .1rem;
}

.story-separator {
  margin: 5% 15%;
}


/* SEARCH HISTORY  */
.search-history-div {
  display: inline-block;
  position: relative;
  left: -35%;
}

.search-history-title {
  margin-bottom: .5rem;
}

.search-history-query {
  font-size: .7rem;
  margin: .3rem auto .3rem;
}

